<div class="header" #header>
  <div>
    @for (item of dataSource.leftItems; track item) {
      <tile-button
        [item]="item"
        [selected]="dataSource.isSelected(item)"
        (select-item)="select($event)">
      </tile-button>
    }
  </div>
  <div class="label">@if (hasLabel()) {
    <span xc-i18n>{{label}}</span>
  }</div>
  <div class="aside">
    @for (item of dataSource.rightItems; track item) {
      <tile-button
        [item]="item"
        [selected]="dataSource.isSelected(item)"
        (select-item)="select($event)">
      </tile-button>
    }
    @if (actionButton) {
      <xc-icon-button (click)="action()" [xc-icon-name]="actionButton.iconName" xc-i18n [xc-tooltip]="actionButton.tooltip"></xc-icon-button>
    }
  </div>
</div>
@if (hasDetails) {
  <div class="detail">
    <xc-template [xc-template-instance]="dataSource.detailItem.getDetailTemplate()">
    </xc-template>
  </div>
}