<div class="header" #header>
    <label>{{ application.name }}</label>
    <div class="active"></div>
    <div class="aside">
        @for (
            runtimeApplication of application.runtimeApplications;
            track runtimeApplication
        ) {
            <runtime-context-button
                [runtimeContext]="runtimeApplication"
                [selected]="isSelected(runtimeApplication)"
                (select)="select($event)"
            ></runtime-context-button>
        }
    </div>
</div>
@if (hasDetails) {
    <div class="detail">
        <div class="row">
            <div class="title">
                <span xc-i18n>runtime-application</span>
                <span>{{ details.label }}</span>
                @if (details.isStub) {
                    <span class="stub">(Stub)</span>
                }
            </div>
            <div class="actions">
                <xc-button
                    (click)="start()"
                    [disabled]="isRunning"
                    xc-i18n
                    xc-tooltip="tooltip-start"
                    ><xc-icon xc-icon-material xc-i18n xc-icon-name="play_arrow"
                        >start</xc-icon
                    ></xc-button
                >
                <xc-button
                    (click)="stop()"
                    [disabled]="isStopped"
                    xc-i18n
                    xc-tooltip="tooltip-stop"
                    ><xc-icon xc-icon-material xc-i18n xc-icon-name="stop"
                        >stop</xc-icon
                    ></xc-button
                >
                <xc-button
                    (click)="export()"
                    xc-i18n
                    xc-tooltip="tooltip-export"
                    >export</xc-button
                >
                <xc-button
                    (click)="startMigration()"
                    color="normal"
                    xc-i18n
                    xc-tooltip="tooltip-migrate"
                    >migrate</xc-button
                >
                <xc-button
                    (click)="loadRuntimeApplication()"
                    xc-i18n
                    xc-tooltip="tooltip-load-into-workspace"
                    >load-into-workspace</xc-button
                >
                <xc-button
                    (click)="deleteRuntimeApplication()"
                    xc-i18n
                    xc-tooltip="tooltip-delete-runtime-application"
                    ><xc-icon xc-i18n [xc-icon-name]="XDSIconName.DELETE"
                        >delete-runtime-application</xc-icon
                    ></xc-button
                >
            </div>
        </div>
        <div class="row">
            <xc-form-input
                xc-i18n
                label="documentation"
                [value]="details.documentation"
                disabled
                xc-form-field-compact
            ></xc-form-input>
            <xc-form-input
                xc-i18n
                label="version"
                [value]="details.version"
                disabled
                xc-form-field-compact
            ></xc-form-input>
        </div>
        <!-- @if (issues.length > 0) { -->
        <xc-panel xc-panel-collapsable class="issues">
            <header>
                <h2 xc-i18n>issues</h2>
                <div class="items-right">
                    @if (issues.length > 20) {
                        <xc-button (click)="truncateIssues = !truncateIssues">{{
                            truncateIssues
                                ? ("show-all-issues" | xcI18n)
                                : ("hide-issues" | xcI18n)
                        }}</xc-button>
                    }
                </div>
            </header>
            <section>
                @for (issue of issues; track issue; let i = $index) {
                    @if (!truncateIssues || i < 20) {
                        <div class="issue-row">
                            <span class="issue-identifier">{{
                                issue.identifier
                            }}</span>
                            <div class="issue-entries">
                                @for (entry of issue.entries; track entry) {
                                    <div class="issue-entry">
                                        <span class="issue-entry-key">{{
                                            entry.key
                                        }}</span>
                                        <span class="issue-entry-value">{{
                                            entry.value
                                        }}</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </section>
        </xc-panel>
        <!-- } -->

        <div class="row requires">
            <xc-panel
                xc-panel-collapsable
                [xc-panel-collapsed]="collapsedRequiredRow"
                (xc-panel-collapsedChange)="collapsedChange($event)"
            >
                <header>
                    <h2 class="items-left" xc-i18n>requires</h2>
                    <div class="items-right">
                        @if (details.isLocal) {
                            <xc-button
                                (click)="manageDependencies()"
                                xc-tooltip="{{
                                    'manage-dependencies-of-runtime-context'
                                        | xcI18n: details.name
                                }}"
                                >{{ "manage-dependencies" | xcI18n }}</xc-button
                            >
                        }
                    </div>
                </header>
                <section>
                    <xc-table
                        [xc-table-datasource]="requiresDataSource"
                        xc-table-allowsort
                        xc-table-allowfilter
                        xc-table-lazyupdate
                    ></xc-table>
                </section>
            </xc-panel>

            <xc-panel
                xc-panel-collapsable
                [xc-panel-collapsed]="collapsedRequiredRow"
                (xc-panel-collapsedChange)="collapsedChange($event)"
            >
                <header>
                    <h2 class="items-left" xc-i18n>required-by</h2>
                </header>
                <section>
                    <xc-table
                        [xc-table-datasource]="requiredByDataSource"
                        xc-table-allowsort
                        xc-table-allowfilter
                        xc-table-lazyupdate
                    ></xc-table>
                </section>
            </xc-panel>
        </div>

        <xc-panel xc-panel-collapsable>
            <header>
                <h2 class="items-left" xc-i18n>content</h2>
                <div class="items-right">
                    <xc-button
                        (click)="manageContent()"
                        xc-tooltip="{{
                            'manage-content-of-runtime-context'
                                | xcI18n: details.name
                        }}"
                        >{{ "view-content" | xcI18n }}</xc-button
                    >
                </div>
            </header>
            <section>
                <xc-table
                    [xc-table-datasource]="contentDataSource"
                    xc-table-allowsort
                    xc-table-allowfilter
                    xc-table-lazyupdate
                ></xc-table>
            </section>
        </xc-panel>

        <xc-panel xc-panel-collapsable>
            <header>
                <h2 class="items-left" xc-i18n>order-entries</h2>
            </header>
            <section class="row">
                @for (orderEntry of details.orderEntries; track orderEntry) {
                    <xc-checkbox
                        [label]="orderEntry.name"
                        [(checked)]="orderEntry.isActive"
                        (checkedChange)="changeOrderEntry(orderEntry)"
                        xc-i18n
                        [xc-tooltip]="orderEntry.name"
                    ></xc-checkbox>
                }
            </section>
        </xc-panel>
    </div>
}
