<xc-panel class="panel">
    <header>
        <h1 *ngIf="detail" class="items-left" xc-i18n>{{name}}</h1>
    </header>
    <section *ngIf="detail">
        <dl>
            <dt xc-i18n>{{runtimeContextTitle}}</dt>
            <dd>{{runtimeContextLabel}}</dd>
            <dt *ngIf="description" xc-i18n>description</dt>
            <dd>{{description}}</dd>
        </dl>
        <label>Startparameter</label>
        <start-parameter-detail [start-parameter]="startParameter" compact></start-parameter-detail>
    </section>
</xc-panel>